body{
    height: 100vh;
    border: 2px solid green;

    display: grid;
    grid-template-rows: 10% 80% 10%;
}
header{
    background-color: aquamarine;
    display: flex;
    flex-direction:row;
    
}
.center{

}
footer{
    background-color: darkgray;
}